<h1>SHARE YOUR BUILDS</h1>

<div id="links">
	<p><%= link_to "Add a new build", "/builds/new" %></p>
	<p><%= link_to "Calculate some Spokes!", "/calc" %></p>
</div>

<div id="spacer">
	<p>----------------BUILDS----------------</p>
</div>

<div id="search-bar">
	<p><%= form_tag builds_path, method: :get, authentication: false, id: 'search-form' do %>
	  <%= text_field_tag :search, params[:search], :placeholder => "eg: Mavic" %>
	  <%= submit_tag "Search" %>
	<% end %></p>
</div>

<div id="builds">
	<%= render @builds %>
</div>






