<h1>SHARE YOUR BUILDS</h1>

<div id="links">
	<p><%= link_to "Add a new build", "/builds/new" %></p>
	<p><%= link_to "Spoke Calculator", "/calc" %></p>
	<div id="search-bar">
	<h4>SEARCH ANY RIM OR HUB</h4>
	<p><%= form_tag builds_path, method: :get, authentication: false, id: 'search-form' do %>
	  <%= text_field_tag :search, params[:search], :placeholder => "eg: Mavic" %>
	  <%= submit_tag "Search", class: 'button' %>
	<% end %></p>
	</div>
</div>

<div class="specs" id="builds">
<p>----------------BUILDS----------------</p>
	<%= render @builds %>
</div>






