<div id='specs'>
	<h2>Rim Info</h2>
	<%= @build.rim %>
	<p>ERD: <%= @build.erd %></p>
	<p>Holes: <%= @build.spoke_count %></p>
	<h2>Hub Info</h2>
	<%= @build.hub %>
	<p>Left Flange: <%= @build.flange_diameter_left %></p>
	<p>Right Flange: <%= @build.flange_diameter_right %></p>
	<p>Left Flange Offset: <%= @build.flange_center_left %></p>
	<p>Right Flange Offset: <%= @build.flange_center_right %></p>
	<p>Holes: <%= @build.spoke_count %></p>
	<p>Spoke Diameter: <%= @build.spoke_hole_diameter %></p>
	<h2>Build Info</h2>
	<p>Crosses: <%= @build.spoke_crosses %></p>
</div>

<div id="calculations">
	<div id="rightSide">
		<p>Right Side Spoke Length: <%= @build.spoke_length_right %></p>
		<p>Left Side Spoke Length: <%= @build.spoke_length_left %></p>
	</div>
</div>
<div id="delete">
	<%= link_to "| Delete |", build_path(@build), method: :delete %>
</div>	

<div id="edit">
	<%= link_to "| Edit |", edit_build_path(@build) %> 
</div>	