<h1>SPOKES AINT NO JOKES</h1>
<div id="calculator">
	<%= form_tag({}, {id: 'spoke-form'}) do %>
		<p><%= text_field_tag(:erd, nil, class: 'calc_field', placeholder: 'ERD' ) %></p>
		<p><%= text_field_tag(:flange_diam, nil, class: 'calc_field', placeholder: 'Flange ø' ) %></p>
		<p><%= text_field_tag(:flange_offset, nil, class: 'calc_field', placeholder: 'Flange Offset' ) %></p>
		<p><%= text_field_tag(:rim_holes, nil, class: 'calc_field', placeholder: 'Holes' ) %></p>
		<p><%= text_field_tag(:spoke_crosses, nil, class: 'calc_field', placeholder: 'Crosses' ) %></p>
		<p><%= text_field_tag(:spoke_hole_diam, nil, class: 'calc_field', placeholder: 'Spoke ø (eg: 2.5)') %>
		<p><%= submit_tag "Calculate", id: "button" %></p>
	<% end %>
</div>

<div id="spokemodal">
	Your Spoke Length : <span id="spokelength">uncalculated</span>
</div>