<h3><%= @user.first_name.capitalize %>'s Profile </h3>

<%= image_tag @user.profile_image_url(:thumb) %><br>
<div class="profile">
  <h3>My Builds</h3>
  	<% @user.builds.each do |b| %>
  		<%= link_to(b) do %>
  			<%= b.rim %>/<%= b.hub %><br>
  		<% end %>
  	<% end %>	
</div>
<br>
<div class="profile">
  <h3>My Ads</h3>
    <% @user.created_classifieds.each do |c| %>
      <%= link_to(c) do %>
        <%= c.title %>/$<%= c.amount %><br>
      <% end %>
    <% end %>   
</div>
<br>
<% if current_user == @user %>
<div class="profile">
  <div id="message">
  <h3>My Messages</h3>
    <% @user.posters.each do |poster| %>
      Re: <%= poster.classified.title %><br>
      <%= poster.message %><br>
    <% end %>
<% end %> 
  </div>   
</div>
<br>
<% if current_user == @user %>
<div class="profile">
  <h3>My <%= pluralize @user.uploaded_photos.length, "Photo" %> </h3>
  <div id="my-photos">
    <% @user.uploaded_photos.each do |p| %>
      <%= link_to image_tag(p.avatar_url(:large)), '/photos/#{photo.id}' %>
    <% end %>
  </div> 
  <% end %>
</div>