<%= form_for(@classified, html: { multipart: true }) do |f|%>
    <% if @classified.errors.any? %>
      <div id="error_explanation">
        <h3>
          Whoops!
          <%= pluralize(@classified.errors.count, "error")%>
          prohibited this classified from being saved:
        </h3>
        <ul>
          <% @classified.errors.full_messages.each do |message|%>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :amount, "Your price"%>
      <%= f.text_field :amount %>
    </div>
    <div class="field">
      <%= f.label :email%>
      <%= f.text_field :email %>
    </div>

    <%= f.fields_for :classified_attachments do |p| %>
       <div class="field">
         <%= p.label :picture %><br>
         <%= p.file_field :picture, :multiple => true, name: "classified_attachments[picture][]" %>
       </div>
    <% end %>

   <% if params[:controller] == "classifieds" && params[:action] == "edit" %> 
     <% @classified.classified_attachments.each do |p| %>
       <% if p.id %>
        <%= image_tag p.picture, :size => "150x150" %>
        <% end %>
     <% end %>
   <% end %>

    <div class="actions">
       <%= f.submit :submit %>
    </div>
<% end %>