<div id="new-ad">
  <%= form_for(@classified, html: { multipart: true }) do |f|%>
      <% if @classified.errors.any? %>
        <div id="error_explanation">
          <h3>
            Whoops!
            <%= pluralize(@classified.errors.count, "error")%>
            prohibited this classified from being saved:
          </h3>
            <% @classified.errors.full_messages.each do |message|%>
            <%= message %><br>
            <% end %>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>
      <div>
      <strong>Choose category</strong>
      <%= collection_select(:classified, :classified_category_id, ClassifiedCategory.all, :id, :name, prompt: true) %>
      </div>
      <div class="field">
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div>
      <div class="field">
        <%= f.label :city %>
        <%= f.text_field :city %>
      </div>
      <div class="field">
        <%= f.label :amount, "Your price"%>
        <%= f.text_field :amount %>
      </div>
      <div class="field">
        <%= f.label :email%>
        <%= f.text_field :email %>
      </div>
      <div class="field">
          <% if @classified.image.present? %>
            <%= image_tag @classified.image, size: '300x300' %>
            <%= f.label :image, "Replace Image?" %>
          <% else %>
            <%= f.label :image, "Your classified image (required)" %>
          <% end %>
          <%= f.file_field :image %>
      </div>

      <div id="classified_attachments">
        <%= f.fields_for :classified_attachments do |attachment| %>
          <%= render 'classified_attachment_fields', f: attachment %>
        <% end %>

        <%= link_to_add_association 'add another picture', f, :classified_attachments %>
      </div>


      <div class="actions">
         <%= f.submit :submit %>
      </div>
  <% end %>
</div>    