<!-- categories -->
<ul class="inline">
  <li><%= link_to 'All', classifieds_path, class: 'btn btn-secondary'  %></li>
  <% ClassifiedCategory.all.each do |category| %>
    <li>
      <%= link_to category.name, classifieds_path(classified_category_id: category.id), class: 'btn btn-secondary' %>
    </li>
  <% end %>
</ul>

<br>
<div class="buy-sell">
<h1> Buy/Sell</h1>
</div>

<!-- search -->
<div id="search-button">
<%= form_tag classifieds_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", class: 'button' %>
<% end %>
</div>

<br>

<div id="classifieds">
<% if can? :create, Classified %>
  <h3><%= link_to "Create your ad", new_classified_path %></h3>
<% end %>
<br>


  <%= render @classifieds %> <br>
</div>