<div id="gallery"> 
  <h3> Gallery Upload </h3> 
  <%= form_for @photo do |f| %>
    <% if @photo.errors.any? %> 
        <div id="error_explanation">
        <h3>
          Whoops!
          <%= pluralize(@photo.errors.count, "error") %> 
          prohibited this photo from being saved: 
        </h3>
        <ul>
          <% @photo.errors.full_messages.each do |message| %>
          <li><%= message %> </li>
          <% end %>
          </ul>
          </div>
          <% end %>
      <div class="align">
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>
        <div class = "field">
          <%= f.label :description %>
          <%= f.text_field :description %>
        </div>
        <div>
         <strong>Choose category</strong>
          <%= collection_select(:photo, :photo_category_id, PhotoCategory.all, :id, :name, prompt: true) %>
        </div> 
        <div class="field">
          <%= f.label :avatar, "Your photo" %>
          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache %>
        </div><br>
         <center> <%= f.submit :submit, class: 'button' %></center><br>
        <% end %>
</div>
</div>