<!DOCTYPE html>
<html>
<head>
  <title>Calculator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyBOVLlapOTmMmtXgdDRAEtwkoYNLv5ZA5s' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Orbitron:400,700' rel='stylesheet' type='text/css'>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
<div class="page-wrap">
<div class="logo">
  <div class="img-container">
    <%= image_tag "wheel.png", class: "wheel" %>
  </div>
  <h1 class="title"> The Wheel Shop </h1>
</div>

  <nav class="navbar navbar-inverse">
    <%= link_to 'Home', root_path, class: 'navbar-brand wheel-trigger' %> 
    <%= link_to "Calculator", "/calc", class: 'navbar-brand wheel-trigger' %> 
    <%= link_to 'Builds', builds_path, class: 'navbar-brand wheel-trigger' %> 
    <%= link_to 'Buy/Sell', classifieds_path, class: 'navbar-brand wheel-trigger' %> 
    <%= link_to 'Photos', photos_path, class: 'navbar-brand wheel-trigger' %> 

   <!--  <form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
     -->
    

    <% if current_user %>
     <%= link_to 'Profile', user_path(current_user.id), {class: 'navbar-brand wheel-trigger'} %> 
       
     <%= link_to 'Logout', :logout, class: 'navbar-brand wheel-trigger', method: :post %>
    <% else %> 
     <%= link_to 'Register', new_user_path, {class: 'navbar-brand wheel-trigger'} %> 
     <%= link_to 'Login', :login, {class: 'navbar-brand wheel-trigger'} %>
    <% end %>
  </nav>

  <!-- <nav id="nav">
    <%= link_to 'Home', root_path %> |
    <%= link_to 'Classified', classifieds_path %> |
    <%= link_to 'Photos', photos_path %> |
    <%= link_to "Calculator", "/calc" %> |
    <%= link_to 'Builds', builds_path %> |

    <% if current_user %>
     <%= link_to 'Profile', user_path(current_user.id) %> |
       
     <%= link_to 'Logout', :logout, method: :post %>
    <% else %> 
     <%= link_to 'Register', new_user_path %> |
     <%= link_to 'Login', :login %>
    <% end %>
  </nav> -->


  <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
  </div>

  <div class="container-fluid">
    <%= yield %>
  </div>
</div>
 
<footer class="site-footer">

  <p><medium>Copyright 2015</medium></p>
</footer>

 

</body>
</html>
